In [1]:
import pandas as pd
import nltk

from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.tokenize import TweetTokenizer
from nltk.probability import FreqDist
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.sentiment.vader import SentimentIntensityAnalyzer

#this is sample data
from nltk.corpus import names  

from string import punctuation

In [2]:
location = "datasets/women_clothing_review.csv"
df = pd.read_csv(location)

In [3]:
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [4]:
sid = SentimentIntensityAnalyzer()

In [5]:
eng_stopwords = stopwords.words('english')

In [6]:
len(df['Review Text'])

23486

In [7]:
missing = df['Review Text'].isnull()
df.loc[missing]

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
92,92,861,23,NaN,NaN,5,1,0,General Petite,Tops,Knits
93,93,1081,31,NaN,NaN,5,1,0,General,Dresses,Dresses
98,98,1133,50,NaN,NaN,5,1,0,General,Jackets,Outerwear
135,135,861,35,NaN,NaN,4,1,0,General Petite,Tops,Knits
142,142,1126,35,NaN,NaN,5,1,0,General,Jackets,Outerwear
165,165,829,35,NaN,NaN,3,0,0,General Petite,Tops,Blouses
168,168,862,40,NaN,NaN,5,1,0,General,Tops,Knits
192,192,895,46,NaN,NaN,5,1,0,General Petite,Tops,Fine gauge
201,201,895,36,NaN,NaN,5,1,0,General,Tops,Fine gauge
248,248,1030,28,NaN,NaN,5,1,0,General,Bottoms,Jeans
265,265,878,63,NaN,NaN,4,1,0,General,Tops,Knits
298,298,1104,39,NaN,NaN,5,1,0,General,Dresses,Dresses
323,323,895,47,NaN,NaN,5,1,0,General,Tops,Fine gauge
342,342,836,32,NaN,NaN,5,1,0,General,Tops,Blouses
345,345,895,24,NaN,NaN,5,1,0,General,Tops,Fine gauge
400,400,1104,35,NaN,NaN,5,1,0,General,Dresses,Dresses
425,425,1083,50,NaN,NaN,5,1,0,General,Dresses,Dresses
455,455,234,33,NaN,NaN,5,1,0,Initmates,Intimate,Swim
493,493,1104,39,NaN,NaN,5,1,0,General,Dresses,Dresses
519,519,850,37,NaN,NaN,5,1,0,General Petite,Tops,Blouses
523,523,1104,39,NaN,NaN,1,0,0,General,Dresses,Dresses
527,527,850,25,NaN,NaN,5,1,0,General Petite,Tops,Blouses
536,536,984,53,NaN,NaN,5,1,0,General,Jackets,Jackets
542,542,984,56,NaN,NaN,5,1,0,General,Jackets,Jackets
554,554,1078,45,NaN,NaN,5,1,0,General,Dresses,Dresses
562,562,995,48,NaN,NaN,5,1,0,General,Bottoms,Skirts
571,571,820,44,NaN,NaN,4,1,0,General,Tops,Blouses
574,574,833,65,NaN,NaN,1,0,0,General,Tops,Blouses
580,580,1037,38,NaN,NaN,3,0,0,General,Bottoms,Jeans
611,611,252,35,NaN,NaN,4,1,0,Initmates,Intimate,Swim
...,...,...,...,...,...,...,...,...,...,...,...
22492,22492,259,35,NaN,NaN,1,0,0,Initmates,Intimate,Sleep
22505,22505,895,46,NaN,NaN,5,1,0,General,Tops,Fine gauge
22583,22583,862,62,NaN,NaN,5,1,0,General,Tops,Knits
22595,22595,544,39,NaN,NaN,4,1,0,Initmates,Intimate,Swim
22619,22619,886,47,NaN,NaN,5,1,0,General Petite,Tops,Knits
22636,22636,1081,40,NaN,NaN,5,1,0,General,Dresses,Dresses
22639,22639,862,35,NaN,NaN,5,1,0,General Petite,Tops,Knits
22646,22646,862,61,NaN,NaN,4,1,0,General Petite,Tops,Knits
22662,22662,862,30,NaN,NaN,5,1,0,General Petite,Tops,Knits
22670,22670,881,60,NaN,NaN,5,1,0,General,Tops,Knits
22699,22699,1087,46,NaN,NaN,5,1,0,General Petite,Dresses,Dresses
22787,22787,854,34,NaN,NaN,5,1,0,General,Tops,Knits
22847,22847,895,56,NaN,NaN,5,1,0,General Petite,Tops,Fine gauge
22932,22932,895,53,NaN,NaN,5,1,0,General Petite,Tops,Fine gauge
22943,22943,945,31,NaN,NaN,4,1,0,General,Tops,Sweaters
22948,22948,945,26,NaN,NaN,5,1,0,General,Tops,Sweaters
22959,22959,1107,32,NaN,NaN,5,1,0,General Petite,Dresses,Dresses
22987,22987,835,37,NaN,NaN,5,1,0,General Petite,Tops,Blouses
23021,23021,867,34,NaN,NaN,5,1,0,General,Tops,Knits
23059,23059,866,21,NaN,NaN,4,1,0,General,Tops,Knits
23080,23080,866,40,NaN,NaN,5,1,0,General,Tops,Knits
23120,23120,1083,40,NaN,NaN,4,1,0,General,Dresses,Dresses
23127,23127,1079,49,NaN,NaN,3,0,0,General Petite,Dresses,Dresses
23166,23166,1094,62,NaN,NaN,4,1,0,General,Dresses,Dresses
23224,23224,1087,42,NaN,NaN,3,1,0,General Petite,Dresses,Dresses
23258,23258,862,35,NaN,NaN,4,1,0,General,Tops,Knits
23301,23301,862,52,NaN,NaN,5,1,0,General,Tops,Knits
23303,23303,823,46,NaN,NaN,5,1,0,General,Tops,Blouses
23470,23470,1104,39,NaN,NaN,5,1,0,General Petite,Dresses,Dresses
23480,23480,862,35,NaN,NaN,5,1,0,General Petite,Tops,Knits

In [19]:
newdf = df.dropna(subset = ['Review Text'])
len(newdf)

22641

In [21]:
def reviewSentiment(text): 
    
    text = str(text).lower()                       #lowercase
    tktn_text = word_tokenize(text)           #tokenize
    
    for t in tktn_text:                            #punctuation
        if t in punctuation: 
            tktn_text.remove(t)
    
    clean_text = []                           # remove stopwords
    for txt in tktn_text: 
        if txt not in eng_stopwords:
            clean_text.append(txt)
    
    clean_review = " ".join(clean_text)        # consolidate
    
    sid_rev = sid.polarity_scores(clean_review)    #sentiment score
    r_comp = sid_rev['compound']
    
    return r_comp

In [22]:
newdf['Review Sentiment Value'] = newdf['Review Text'].apply(reviewSentiment)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
newdf.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,Review Sentiment Value
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates,0.8991
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,0.9710
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,0.9062
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants,0.9464
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses,0.9117